# Lambda Function in Python

Lambda function is also called an anonymous function (function without a name). It can be defined in a single line of code.
* Here, we use lambda keyword to create lambda functions.

In [1]:
f = lambda x,y : x+y
f

In [2]:
f(5,6)

11

In [3]:
## multiply example
multiply = lambda x,y : x*y
multiply(3,4)

12

In [4]:
## return the length of a string
string_length = lambda s : len(s)
string_length("Krish Naik")

10

In [5]:
## convert list of integers to their corresponding square values
numbers = [1,2,3,4,5,6]
squares = list(map(lambda x : x**2, numbers))
print(squares)

[1, 4, 9, 16, 25, 36]

In [6]:
## filter out even numbers from a list
numbers = [1,2,3,4,5,6]
list(filter(lambda x : x%2==0, numbers))

[2, 4, 6]

In [7]:
## sort a list of strings based on their alphabetical characters and lengths
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

In [9]:
sorted(fruits,key = lambda x : len(x))

['date', 'apple', 'banana', 'cherry', 'elderberry']

In [10]:
## complex example
## sort a list of dictionaries based on a spceific key

In [11]:
people = [{"name" : "Alice", "age" : 25, "occupation" : "Engineer"},
          {"name" : "Bob", "age" : 30, "occupation" : "Manager"},
          {"name" : "Charlie", "age" : 22, "occupation" : "Intern"},
          {"name" : "Dave", "age" : 27, "occupation" : "Designer"}]

In [12]:
sorted(people,key = lambda x : x["age"])

[{'name': 'Charlie', 'age': 22, 'occupation': 'Intern'},
 {'name': 'Alice', 'age': 25, 'occupation': 'Engineer'},
 {'name': 'Dave', 'age': 27, 'occupation': 'Designer'},
 {'name': 'Bob', 'age': 30, 'occupation': 'Manager'}]

In [13]:
## sort with two keys

sorted(people,key = lambda x : (x["age"],x["name"]))

[{'name': 'Charlie', 'age': 22, 'occupation': 'Intern'},
 {'name': 'Alice', 'age': 25, 'occupation': 'Engineer'},
 {'name': 'Dave', 'age': 27, 'occupation': 'Designer'},
 {'name': 'Bob', 'age': 30, 'occupation': 'Manager'}]

In [14]:
## finding maximum value in a dictionary
data = {"a" : 10, "b" : 20, "c" : 5, "d" : 15}
max(data,key = lambda x : data[x])

'b'

In [15]:
## grouping a list of strings based on their first letter

In [16]:
from itertools import groupby

words = ["apple", "banana", "cherry", "date", "elderberry", "fig"]

groups = groupby(sorted(words), key = lambda x : x[0])

for key,group in groups:
    print(key,list(group))

a ['apple']
b ['banana']
c ['cherry']
d ['date']
e ['elderberry']
f ['fig']